.button {
  -webkit-appearance: none;
  background-color: #FF6768;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  border: none;
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
}
