<h1>{{ space.heading }}</h1>
<p>{{ space.sub_heading }}</p>

<h2>{{ space.signup_message }}</h2>

<form action="{{ space.permalink }}/ideas" method="post" class="form">
  <input type="hidden" name="idea[title]" value="BLANK">
  <input type="hidden" name="idea[content]" value="BLANK">

  <div class="form-group">
    {% if space.collect_name == '1' %}
    <div class="form-field form-group__cell">
      <input
        type="text"
        class="input"
        name="idea[custom][name]"
        placeholder="Your name">
    </div>
    {% endif %}
    {% if space.collect_postcode == '1' %}
    <div class="form-field form-group__cell">
      <input
        type="text"
        class="input"
        name="idea[custom][postcode]"
        placeholder="Your postcode">
    </div>
    {% endif %}
  </div>

  <div class="form-field">
    <input
      type="email"
      class="input"
      name="identity[email]"
      placeholder="Enter your email"
      required
    >
  </div>

  <button type="submit" class="button">Sign up</button>
</form>

{% include 'networks' %}
