.button {
  color: #FFF;
  padding: 0 1.5em;
  margin: 0;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  line-height: 3;
  display: inline-block;
  font-weight: bold;
  -webkit-appearance: none;
  font-size: inherit;
  background-color: #b92e7b;
  font-family: inherit;
  border: none;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background-color: #c54e90;
  }

  &--submit {
    width: 100%;
    display: block;
  }
}
