.wrapper {
  max-width: $site-max-width;
  margin: 32px auto;
  padding: 16px;

  @include above(420px) {
    padding: 32px;
  }

  &--two-column {

    @include above($two-column-break) {
      max-width: 800px;
      display: flex;
      flex-direction: row-reverse;

      .page-header,
      .page-footer,
      .share
      {
        text-align: left;
      }
    }
  }

  &__image {
    margin-top: 32px;

    @include above($two-column-break) {
      margin-top: 0;
    }

    .wrapper--one-column & {
      display: none;
    }
  }
}
