.wrapper {
  @extend %clearfix;
  max-width: $site-max-width;
  margin: 0 auto;
  position: relative;
  padding: 30px 10px;
  box-sizing: content-box;

  &--one-column {
    text-align: center;
  }

  &--two-column {
    max-width: 1000px;
  }

  &__content {

    @include above(600px) {
      float: right;
      width: 50%;
    }
  }

  &__product {

    @include above(600px) {
      float: left;
      width: 50%;
    }
  }
}

.logo {
  max-width: 100%;
}
