html {
  font-size: 62.5%;
}

body {
  font: 1.6em/1.5 'Hind', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-family: 'Montserrat', serif;
}

h1 {
  font-size: 2em;
  margin: 1em 0 .5em;
  line-height: 1.2;
}

h2 {
  font-size: 1.4em;
  margin: 1.5em 0 0.8em;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $color-dark;
}
